{{ 'quick-add.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{% assign featured_collection = section.settings.featured_collection %}
{% assign products_per_view_desktop = section.settings.products_per_view_desktop %}
{% assign products_per_view_mobile = section.settings.products_per_view_mobile %}
{% assign sectionid = section.id | split: "__" | last | prepend: "section_" %}

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<style>
.main-carousel.flickity-enabled.is-draggable {
    overflow: hidden;
    margin-top: 20px;
}
  .flickity-slider{
    position: relative;
  }
/* Carousel container */
.featured-products {
    padding-top: 60px;
    margin-bottom: 18px;
}
/* Individual carousel cells */
.carousel-cell {
  width: calc(91% / {{ products_per_view_desktop }}); /* Adjust width based on number of products per view */
 // padding: 0 20px;
  box-sizing: border-box;
  margin-right: 30px;
}

/* Image within carousel cell */
.carousel-cell img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Title within carousel cell */
.carousel-cell h3 {
  font-size: 16px;
  margin: 10px 0;
}

/* Price within carousel cell */
.carousel-cell p {
  font-size: 14px;
  margin: 5px 0;
}
.card-wrapper .position-quick.quick-add {
    position: absolute !important;
    right: 12px;
    top: 60px;
    z-index: 9;
    width: 34px;
    height: 34px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.card-wrapper:hover .position-quick.quick-add{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
.card-wrapper .position-quick.quick-add .quick-add__submit{
  padding: 0;
  min-height: 34px;
}
.card-wrapper .position-quick.quick-add .button--secondary:after{
  --border-opacity: 0 !important;
} 
.card-wrapper .position-quick.quick-add .button--secondary:after {
  box-shadow: none !important;
} 
.card-wrapper .position-quick.quick-add, .quick-add__submit{
  border-radius: 50px !important;
}
product-recommendations.related-products .card-wrapper:hover .position-quick.quick-add:hover {
    opacity: 0;
    visibility: hidden;
}  
@media(max-width: 767px){
  .carousel-cell {
  width: calc(91% / {{ products_per_view_mobile }}); /* Adjust width based on number of products per view */
 // padding: 0 20px;
  box-sizing: border-box;
      margin-right: 20px;
}
  .featured-products {
    padding-top: 20px;
}
}
</style>


<div id="{{ sectionid }}" class="{{ section.settings.additional-class }} featured-products">
  <div class="featured-pInner">
  <div class="{% if section.settings.container == 'middle-container' %}page-width{% else %}container{% endif %}">  
  <p class="smart-effect"><span class="day-hvover">{{ section.settings.day }}</span></p>
    <div class="Fhead" {% if section.settings.show_arrow == true %}style="justify-content: space-between;"{% endif %}>
       <h1>{{ section.settings.Heading }}</h1>  
      {% if section.settings.button-position == 'front-of-heading' %}
        <a href="{{ section.settings.button }}" class="view-more-btn front-of-heading">View All Products</a>
      {% endif %} 
    {% if section.settings.show_countdown == true %}  {% render 'count-down'  sectionid: sectionid; count-down-layout: section.settings.count-down-layout; %} {% endif %}
    {% if section.settings.show_arrow == true %}
      <div class="Farrow">
        <button class="custom-prev-button">
            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23" cy="23" r="23" fill="#F5F5F5"/>
            <path d="M22 16L15 23L22 30M15 23H31" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <button class="custom-next-button">
         <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="23" cy="23" r="23" fill="#F5F5F5"/>
          <path d="M14.5 23H31M31 23L24 16M31 23L24 30" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
     {% endif %}         
    </div>
  </div>
    <div class="main-carousel {% if section.settings.container == 'middle-container' %}page-width{% else %}container{% endif %}"
         data-desktop-views="{{ products_per_view_desktop }}"
         data-mobile-views="{{ products_per_view_mobile }}"
         autoplay="{{ section.settings.autoplay }}">
      {% for product in collections[featured_collection].products limit: 6 %}
        <div class="carousel-cell">
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id
              %}
        </div>
      {% endfor %}
    </div>
    {% if section.settings.button-position == 'bottom' %}
      <a href="{{ section.settings.button }}" class="view-more-btn bottom">View All Products</a>
    {% endif %}  
  </div>
  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var mainCarousel = document.querySelector('#{{ sectionid }} .main-carousel');

  // Convert autoplay attribute to a boolean
  var autoplay = mainCarousel.getAttribute('autoplay') === 'true';
  // Initialize Flickity
  var flkty = new Flickity('#{{ sectionid }} .main-carousel', {
    infinite: true,
    cellAlign: 'left',
    contain: true,
    slidesToScroll: 1,
    autoPlay: autoplay,
    autoplaySpeed: 1000,
    wrapAround: true,
    prevNextButtons: false,
    pageDots: false,
    // Set number of products per view based on device
    cellSelector: '#{{ sectionid }} .carousel-cell',
    slidesToShow: parseInt(document.querySelector('#{{ sectionid }} .main-carousel').getAttribute('data-desktop-views')),
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: parseInt(document.querySelector('#{{ sectionid }} .main-carousel').getAttribute('data-mobile-views')),
          prevNextButtons: false,
          pageDots: true
        }
      }
    ]
  });

  // Custom previous button event
  var prevButton = document.querySelector('#{{ sectionid }} .custom-prev-button');
  if (prevButton) {
    prevButton.addEventListener('click', function () {
      flkty.previous();
    });
  }

  // Custom next button event
  var nextButton = document.querySelector('#{{ sectionid }} .custom-next-button');
  if (nextButton) {
    nextButton.addEventListener('click', function () {
      flkty.next();
    });
  }
});

</script>



{% schema %}
{
  "name": "Featured Products New",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Section Container",
      "options": [
      {
        "value": "middle-container",
        "label": "Middle Container"
      },
      {
        "value": "small-container",
        "label": "Small Container"
      }
  ],
},
    {
      "type": "text",
      "id": "day",
      "label": "Day"
    },
    {
      "type": "text",
      "id": "Heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_countdown",
      "label": "Show Count Down",
      "default": false
    },
     {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "Show Arrow",
      "default": false
    },
    {
        "type": "select",
        "id": "count-down-layout",
        "label": "Choose Count Down Layout",
        "options": [
          {
            "value": "layout-1",
            "label": "layout-1"
          },
          {
            "value": "layout-2",
            "label": "layout-2"
          }
        ],
    },
    {
      "type": "range",
      "id": "products_per_view_desktop",
      "label": "Products Per View (Desktop)",
      "default": 4,
      "min": 1,
      "max": 6,
      "step": 0.1
    },
    {
      "type": "range",
      "id": "products_per_view_mobile",
      "label": "Products Per View (Mobile)",
      "default": 2,
      "min": 1,
      "max": 4,
      "step": 0.1
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured Collection"
    },
    {
      "type": "url",
      "id": "button",
      "label": "Button"
    },
    {
      "type": "select",
      "id": "button-position",
      "label": "Button Position",
      "options": [
      {
        "value": "front-of-heading",
        "label": "Front of Heading"
      },
      {
        "value": "bottom",
        "label": "Bottom"
      }
  ],
},
  {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
     {
      "type": "text",
      "id": "additional-class",
      "label": "Additional Class",
       "info": "Only for developers"
    }
    
  ],
  "presets": [
    {
      "category": "Products",
      "name": "Featured Products New"
    }
  ]
}
{% endschema %}
