<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>
{% assign featured_collection = section.settings.featured_collection %}
{% assign products_per_view_desktop = section.settings.products_per_view_desktop %}
{% assign products_per_view_mobile = section.settings.products_per_view_mobile %}

<style>
/* Carousel container */
.featured-products {
    padding-top: 60px;
}

/* Individual carousel cells */
.carousel-cell {
  width: calc(91% / {{ products_per_view_desktop }}); /* Adjust width based on number of products per view */
 // padding: 0 20px;
  box-sizing: border-box;
      margin-right: 40px;
}

/* Image within carousel cell */
.carousel-cell img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Title within carousel cell */
.carousel-cell h3 {
  font-size: 16px;
  margin: 10px 0;
}

/* Price within carousel cell */
.carousel-cell p {
  font-size: 14px;
  margin: 5px 0;
}
@media(max-width: 767px){
  .carousel-cell {
  width: calc(91% / {{ products_per_view_mobile }}); /* Adjust width based on number of products per view */
 // padding: 0 20px;
  box-sizing: border-box;
      margin-right: 20px;
}
  .featured-products {
    padding-top: 20px;
}
}
</style>


<div class="featured-products">
  <div class="featured-pInner page-width">
    <div class="Fhead">
       <h3>{{ section.settings.Heading }}</h3>
      <div class="Farrow">
        <button class="custom-prev-button">
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.92579 11.2615C7.89964 11.2354 7.8789 11.2043 7.86475 11.1702C7.85059 11.1361 7.84331 11.0995 7.84331 11.0625C7.84331 11.0255 7.85059 10.9889 7.86475 10.9548C7.8789 10.9207 7.89964 10.8896 7.92579 10.8635L12.5081 6.28125L0.812279 6.28125C0.737687 6.28125 0.666149 6.25161 0.613405 6.19887C0.56066 6.14613 0.531029 6.07459 0.531029 6C0.531029 5.9254 0.56066 5.85387 0.613405 5.80112C0.666149 5.74838 0.737687 5.71875 0.812279 5.71875L12.5081 5.71875L7.92579 1.13648C7.89966 1.11035 7.87894 1.07933 7.86479 1.04519C7.85065 1.01104 7.84337 0.974451 7.84337 0.937496C7.84337 0.900541 7.85065 0.863948 7.86479 0.829806C7.87894 0.795664 7.89966 0.764642 7.92579 0.738511C7.95193 0.71238 7.98295 0.691652 8.01709 0.67751C8.05123 0.663368 8.08782 0.65609 8.12478 0.65609C8.16173 0.65609 8.19833 0.663368 8.23247 0.67751C8.26661 0.691652 8.29763 0.71238 8.32376 0.738511L13.3863 5.80101C13.4124 5.82713 13.4332 5.85815 13.4473 5.89229C13.4615 5.92644 13.4687 5.96304 13.4687 6C13.4687 6.03696 13.4615 6.07356 13.4473 6.1077C13.4332 6.14184 13.4124 6.17286 13.3863 6.19898L8.32376 11.2615C8.29764 11.2876 8.26662 11.3084 8.23248 11.3225C8.19834 11.3367 8.16174 11.344 8.12478 11.344C8.08782 11.344 8.05122 11.3367 8.01708 11.3225C7.98293 11.3084 7.95191 11.2876 7.92579 11.2615Z" fill="white"/>
            </svg>
        </button>
        <button class="custom-next-button">
          <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.92579 11.2615C7.89964 11.2354 7.8789 11.2043 7.86475 11.1702C7.85059 11.1361 7.84331 11.0995 7.84331 11.0625C7.84331 11.0255 7.85059 10.9889 7.86475 10.9548C7.8789 10.9207 7.89964 10.8896 7.92579 10.8635L12.5081 6.28125L0.812279 6.28125C0.737687 6.28125 0.666149 6.25161 0.613405 6.19887C0.56066 6.14613 0.531029 6.07459 0.531029 6C0.531029 5.9254 0.56066 5.85387 0.613405 5.80112C0.666149 5.74838 0.737687 5.71875 0.812279 5.71875L12.5081 5.71875L7.92579 1.13648C7.89966 1.11035 7.87894 1.07933 7.86479 1.04519C7.85065 1.01104 7.84337 0.974451 7.84337 0.937496C7.84337 0.900541 7.85065 0.863948 7.86479 0.829806C7.87894 0.795664 7.89966 0.764642 7.92579 0.738511C7.95193 0.71238 7.98295 0.691652 8.01709 0.67751C8.05123 0.663368 8.08782 0.65609 8.12478 0.65609C8.16173 0.65609 8.19833 0.663368 8.23247 0.67751C8.26661 0.691652 8.29763 0.71238 8.32376 0.738511L13.3863 5.80101C13.4124 5.82713 13.4332 5.85815 13.4473 5.89229C13.4615 5.92644 13.4687 5.96304 13.4687 6C13.4687 6.03696 13.4615 6.07356 13.4473 6.1077C13.4332 6.14184 13.4124 6.17286 13.3863 6.19898L8.32376 11.2615C8.29764 11.2876 8.26662 11.3084 8.23248 11.3225C8.19834 11.3367 8.16174 11.344 8.12478 11.344C8.08782 11.344 8.05122 11.3367 8.01708 11.3225C7.98293 11.3084 7.95191 11.2876 7.92579 11.2615Z" fill="white"/>
            </svg>
        </button>
      </div>
    </div>
    <div class="main-carousel"
         data-desktop-views="{{ products_per_view_desktop }}"
         data-mobile-views="{{ products_per_view_mobile }}">
      {% for product in collections[featured_collection].products limit: 6 %}
        <div class="carousel-cell">
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id
              %}
        </div>
      {% endfor %}
    </div>
  </div>
  
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Initialize Flickity
    var flkty = new Flickity('.main-carousel', {
      // options
      cellAlign: 'left',
      contain: true,
      // wrapAround: true,
      prevNextButtons: false,
      pageDots: false,
      // Set number of products per view based on device
      cellSelector: '.carousel-cell',
      slidesToShow: parseInt(document.querySelector('.main-carousel').getAttribute('data-desktop-views')),
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: parseInt(document.querySelector('.main-carousel').getAttribute('data-mobile-views')),
            prevNextButtons: false,
            pageDots: true
          }
        }
      ]
    });


   // Custom previous button event
    var prevButton = document.querySelector('.custom-prev-button');
    prevButton.addEventListener('click', function () {
      flkty.previous();
    });

    // Custom next button event
    var nextButton = document.querySelector('.custom-next-button');
    nextButton.addEventListener('click', function () {
      flkty.next();
    });

    
  });
</script>



{% schema %}
{
  "name": "Featured Products New",
  "settings": [
    {
      "type": "text",
      "id": "Heading",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "products_per_view_desktop",
      "label": "Products Per View (Desktop)",
      "default": 4,
      "min": 1,
      "max": 6,
      "step": 0.1
    },
    {
      "type": "range",
      "id": "products_per_view_mobile",
      "label": "Products Per View (Mobile)",
      "default": 2,
      "min": 1,
      "max": 4,
      "step": 0.1
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured Collection"
    },

  {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    }
    
  ],
  "presets": [
    {
      "category": "Products",
      "name": "Featured Products New"
    }
  ]
}
{% endschema %}
