{% comment %} this is price.liquid Dawn theme {% endcomment %}
{% comment %}
  Price with Product > Collection metafield discount priority
{% endcomment %}

{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif placeholder
    assign target = null
  else
    assign target = product
  endif

  assign price = target.price | default: 1999
  assign compare_at_price = target.compare_at_price
  assign available = target.available | default: false

  assign money_price = price | money
  assign money_compare = compare_at_price | money

  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_compare = compare_at_price | money_with_currency
  endif

  comment
  ------------------------------
  DISCOUNT PRIORITY
  ------------------------------
  endcomment

  assign discount_percent = 0

  if product.metafields.custom.discount_percent != blank
    assign discount_percent = product.metafields.custom.discount_percent | plus: 0
  else
    for collection in product.collections
      if collection.metafields.custom.discount_percent != blank
        assign discount_percent = collection.metafields.custom.discount_percent | plus: 0
        break
      endif
    endfor
  endif

  assign discounted_price = price

  if discount_percent > 0
    assign discount_multiplier = 100 | minus: discount_percent
    assign discounted_price = price | times: discount_multiplier | divided_by: 100 | round
    assign savings_text = 'Save ' | append: discount_percent | append: '%'
  endif

  assign money_discounted = discounted_price | money
  if settings.currency_code_enabled
    assign money_discounted = discounted_price | money_with_currency
  endif
-%}

{%- unless target == null and placeholder == null -%}
<div class="price{% if discount_percent > 0 or compare_at_price > price %} price--on-sale{% endif %}">
  <div class="price__container">

    {% if discount_percent > 0 %}
      <span class="price-item price-item--regular">
        <s>
          {% if compare_at_price > price %}
            {{ money_compare }}
          {% else %}
            {{ money_price }}
          {% endif %}
        </s>
      </span>

      <span class="price-item price-item--sale discounted-value-price">
        {{ money_discounted }}
      </span>
      <span class="price-save">
        {{ savings_text }}
      </span>
    {% elsif compare_at_price > price %}
      <span class="price-item price-item--regular">
        <s>{{ money_compare }}</s>
      </span>
      <span class="price-item price-item--sale">
        {{ money_price }}
      </span>

    {% else %}
      <span class="price-item price-item--regular">
        {{ money_price }}
      </span>
    {% endif %}

  </div>
</div>
{%- endunless -%}
