{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}

<!-- Flickity CSS & JS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .main_related_products .heading {
      margin: 0;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} gradient no-js-hidden main_related_products">
 <h2 class="heading">You may also like</h2> 
 <product-recommendations
      class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=8"
    >
   <ul
          class="custom-slider grid1 product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
          role="list"
       data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": true, "wrapAround": true }'
        >
          {% for recommendation in recommendations.products %}
            <li class="grid__item1 custom-slide">
              {% render 'card-product',
                card_product: recommendation,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating
              %}
            </li>
          {% endfor %}
        </ul>
   
  </product-recommendations>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
   
    var checkSliderInterval = setInterval(function() {
      var sliderItems = document.querySelectorAll('.custom-slider li');
      if (sliderItems.length > 1) {
        // Initialize Flickity slider
        var flkty = new Flickity(document.querySelector('.custom-slider'), {
          cellAlign: 'left',
          contain: true,
          pageDots: false,
          wrapAround: true,
        });
        clearInterval(checkSliderInterval);
      }
    }, 500);
  });
</script>
